<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="header__logo logo">
                <a href="/"><img height="68" width="208" class="logo" src="/src/assets/img/svg/logo.svg"
                                 alt="suvlaki_logo"></a>
                <img height="68" width="208" class="logo" src="/src/assets/img/svg/logo.svg" alt="suvlaki_logo">
                <h1>Доставка еды в Кирове</h1>
            </div>
            <div class="header__navigation">
                <button class="gamburger dBlock dBlock--sm">
                    <span class="gamburger__first"></span>
                    <span class="gamburger__second"></span>
                    <span class="gamburger__trid"></span>
                </button>
                <div class="header__mobileMenu dNone dNone--sm">
                    <div class="header__rating">
                        <svg viewBox="0 0 16 16">
                            <use xlink:href="/src/assets/img/svgIcons/icons.svg#Star"></use>
                        </svg>
                        {{ shopInfo.rating }}
                    </div>
                    <div class="header__shopInfo shopInfo">
                    <span class="shopInfo__icon">
                         <svg viewBox="0 0 16 16">
                              <use xlink:href="/src/assets/img/svgIcons/icons.svg#Calling"></use>
                         </svg>
                    </span>
                        <div class="shopInfo__info">
                            <a href="tel:{{ shopInfo.phone }}" class="shopInfo__phone">{{ shopInfo.phone }}</a>
                            <span class="shopInfo__open">{{ shopInfo.open }} <svg viewBox="0 0 100 100">
                              <use xlink:href="/src/assets/img/svgIcons/icons.svg#info-m"></use>
                         </svg></span>
                        </div>
                    </div>
                    <ul class="header__menu menu">
                        {% for menuItem in topMenu %}
                            {% if menuItem.dropMenu %}
                                <li class="menu__item menu__item--dropDown dropDown">
                                    {{ menuItem.title }}
                                    <div class="dropDown__box">
                                        <div class="dropDown__container">
                                            <ul class="dropDown__list">
                                                {% for dropItem  in menuItem.dropMenu %}
                                                    <li class="dropDown__listItem "><a
                                                                href="{{ dropItem.href }}">{{ dropItem.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="menu__item">
                                    <a href="{{ menuItem.href }}">{{ menuItem.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                    <button class="header__login btn btn--gray">
                        <span class="icon icon--login"></span>
                        Войти
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="catalogMenu">
    <div class="container">
        <div class="catalogMenu__container">
            <div class="catalogMenu__listWrapper">
                <ul class="catalogMenu__list">
                    {% for  itemMenu in catalogMenu %}
                        <li data-category-id="{{ itemMenu.id }}" class="catalogMenu__listItem"><a
                                    href="{{ itemMenu.href }}">{{ itemMenu.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>


            <div class="dropDown catalogMenu__btnCart ">

                <a class="btn btn--orange btnCart" href="/cart.html" >
                    <span class="icon icon--cart dBlock dBlock--sm"></span>
                    <span class="dNone dNone--sm">Корзина</span>
                    <span class="btnCart__count dFlex dFlex--sm">3</span>
                </a>
                <div class="dropDown__box">
                    <div class="dropDown__container">
                        <div class="miniCart">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>